@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5im8di');
  src:  url('fonts/icomoon.eot?5im8di#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5im8di') format('truetype'),
    url('fonts/icomoon.woff?5im8di') format('woff'),
    url('fonts/icomoon.svg?5im8di#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-love:before {
  content: "\e91a";
}
.icon-car:before {
  content: "\e901";
}
.icon-chargewate:before {
  content: "\e902";
}
.icon-chargepile:before {
  content: "\e903";
}
.icon-navigation:before {
  content: "\e904";
}
.icon-navigetions:before {
  content: "\e905";
}
.icon-address:before {
  content: "\e906";
}
.icon-text:before {
  content: "\e907";
}
.icon-message:before {
  content: "\e908";
}
.icon-arrowup:before {
  content: "\e909";
}
.icon-arrowdown:before {
  content: "\e90a";
}
.icon-arrowleft:before {
  content: "\e90b";
}
.icon-card:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90d";
}
.icon-wallet:before {
  content: "\e90e";
}
.icon-sweep:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-hand:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-safe:before {
  content: "\e913";
}
.icon-pen:before {
  content: "\e914";
}
.icon-problem:before {
  content: "\e915";
}
.icon-people:before {
  content: "\e916";
}
.icon-courp:before {
  content: "\e917";
}
.icon-circle:before {
  content: "\e918";
}
.icon-arrowright:before {
  content: "\e919";
  color: #666;
}
.icon-lightning:before {
  content: "\e900";
}
